.weather {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 25px;
  border: 1px solid rgba(111, 109, 109, 0.005);
  border-radius: 45px;
  background-color: rgba(230, 230, 221, 0.7);
}
ul {
  list-style: none;
}
